/* 
*	All basic settings for the whole app
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	scrollbar-width: thin;
}
/* Scrollbar */
::-webkit-scrollbar {
	width: 3px;
	background-color: var(--side-field);
	scrollbar-width: thin;
	display: none;
}
::-webkit-scrollbar-thumb {
	border-radius: 9em;
	box-shadow: inset 1px 1px 10px #f3faf7;
}
body {
	margin: 0;
}
:root {
	--background: #bbbbbb;
	--side-field: #fff;
	--main-field: #f7f6f9;
	--break-line: #f1f1f1;
	--font-main: #1a1a1a;
	--font-sec: #c5c5c5;
	--navigation-accent: #4644fd;

	--cloud: #909cac;
	--umbrella: #025393;
	--wind: #5a7702;
}
[data-theme="dark"] {
	/* --theme-color: #0f3057;
	--primary-color: #e7e7de; */
	--background: #bbbbbb;
	--side-field: #0b0c17;
	--main-field: #030014;
	--break-line: #0b0c17;
	--font-main: #fff;
	--font-sec: #c5c5c5;
}
@keyframes compassShift {
	30%{transform: rotate(15deg)};
	50%{transform: rotate(0);}
	70%{transform: rotate(10deg);}
	100%{transform: rotate(0);}
}
@keyframes fanRotation {
	100%{transform: rotate(360deg);}
}
@keyframes lungs {
	50%{transform: scale(1.3);}	
	100%{transform: scale(1);}	
}
@keyframes radiation {
	50%{box-shadow: 0 0 10px #f0cc3c;}
}


/* 
	*Container of whole app
	*Main elements, etc.
*/
.root {
	width: 100%;
	min-height: 100vh;
	background: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
}
.app {
	width: 99%;
	height: 99vh;
	background: var(--side-field);
	box-shadow: 6px 6px 16px rgba(217, 210, 210, .51),
					-6px -6px 26px rgba(255, 255, 255, .83);
	border-radius: 50px;
	display: flex;
	overflow: hidden;
	position: relative;
}


nav {
	position: absolute;
	top: 100px;
	right: 50px;
	font-size: 18px;
	z-index: 10000;
}
nav .menu-toggle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	/* background-color: #1ef0a0; */
	/* box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2); */
	position: absolute;
	z-index: 5;
	bottom: 0;
	right: 0;
	display: table;
	text-align: center;
	cursor: pointer;
}
nav .menu-toggle .fa {
	font-size: 2em;
	display: table-cell;
	vertical-align: middle;
	transition: 0.4s;
}
nav.open .menu-toggle {
	border: 3px solid var(--navigation-accent);
}
nav.open .menu-toggle .fa {
	color: #fff;
}
nav.open .menu-toggle .burger {
	display: none;
}
nav:not(.open) .menu-toggle .burger-close {
	display: none;
}
nav .btn-app {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	position: absolute;
	background-color: var(--navigation-accent);
	color: #fff;
	text-align: center;
	opacity: 0;
}
nav .btn-app:hover {
	transition-delay: 0s !important;
	background: #025393;
}
nav .btn-app .fa {
	line-height: 2.5em;
}
nav.open .btn-app {
	opacity: 1;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}
nav .menu-round {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 3;
}
nav .menu-round .btn-app {
	top: -3em;
	right: 1em;
	transition: 0.4s;
}
nav.open .menu-round .btn-app:nth-of-type(1) {
	right: 4.5em;
	top: -5em;
}
nav.open .menu-round .btn-app:nth-of-type(2) {
	right: 4.25em;
	top: -2em;/* 1 */
	transition-delay: 0.1s;
}
nav.open .menu-round .btn-app:nth-of-type(3) {
	right: 1.75em;/* 0.45 */
	top: .25em;/* 1.25 */
	transition-delay: 0.2s;
}
nav.open .menu-round .btn-app:nth-of-type(4) {
	right: -1.45em;
	top: 1em;
	transition-delay: 0.3s;
}
nav .menu-line {
	position: absolute;
	z-index: 2;
}
nav .menu-line .btn-app {
	top: -3em;
	right: 0.45em;
	transition: 0.3s;
	/* transition-delay: 0.4s; */
}
nav.open .menu-line .btn-app {
	right: -1.45em;
}
nav.open .menu-line .btn-app:nth-of-type(1) {
	top: 4.25em;
}
nav.open .menu-line .btn-app:nth-of-type(2) {
	top: 7.25em;
}
nav.open .menu-line .btn-app:nth-of-type(3) {
	top: 10.25em;
}
nav.open .menu-line .btn-app:nth-of-type(4) {
	top: 13.25em;
}
nav.open .menu-line .btn-app:nth-of-type(5) {
	top: 16.25em;
}
nav.open .menu-line .btn-app:nth-of-type(6) {
	top: 19.25em;
}
nav.open .menu-line .btn-app:nth-of-type(7) {
	top: 22.25em;
}
nav.open .menu-line .btn-app::before {
	width: 150px;
	position: absolute;
	top: 50%;
	transform: translate(-120%, -50%);
	background: var(--navigation-accent);
	padding: 10px 20px;
	border-radius: 15px;
	display: none;
	font-weight: bold;
}
nav.open .menu-line .btn-app:hover::before {
	display: block;
}
nav.open .menu-line .btn-app.financeApp {
	background: #5a7702;
}
nav.open .menu-line .btn-app.financeApp::before {
	content: 'Finance App';
}
nav.open .menu-line .btn-app.taskApp {
	background: #5a7702;
}
nav.open .menu-line .btn-app.taskApp::before {
	content: 'Task App';
}
nav.open .menu-line .btn-app.linkedIn {
	background: #5a7702;
}
nav.open .menu-line .btn-app.linkedIn::before {
	content: 'LinkedIn';
}
nav.open .menu-line .btn-app.gitHub {
	background: #5a7702;
}
nav.open .menu-line .btn-app.gitHub::before {
	content: 'GitHub';
}
nav.open .menu-line .btn-app.info {
	background: #5a7702;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #0300148a;
	display: none;
	z-index: 2;
	transition: .5s;
	opacity: 0;
}
.overlay.open {
	display: block;
	opacity: 1;
}



img {
	width: 60%;
	/* height: 100px; */
}
main {
	display: flex;
	width: 100%;
	min-height: 100%;
}
.side-field,
.main-field {
	padding: 30px;
	color: var(--font-main);
	font-size: 25px;
}
.side-field {
	flex: 0 1 400px;
	padding: 50px 30px 50px 50px;
	display: flex;
	background: var(--side-field);
}


/* 
	*Side panel
*/
.side-field .current-weather {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 
							  180px 
							  140px 
							  30px 
							  50px
							  50px
							  50px
							  1fr;
	grid-template-areas: 
		'search   search '
		'icon 	 icon   '
		'temp temp'
		'break break'
		'detail-1 detail-1'
		'detail-2 detail-2'
		'detail-3 detail-3'
		'location location'
	;
	row-gap: 15px;
	justify-items: center;
	align-items: start;
}


/* Search block */
.side-field .current-weather .search-places {
	grid-area: search;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}
.side-field .current-weather .search-places label {
	flex: 10 1 10%;
	display: flex;
	align-items: center;
	margin-right: 10px;
	position: relative;
}
.side-field .current-weather .search-places i {
	flex: 0 1 5%;
	font-size: 20px;
	cursor: text;
}
.side-field .current-weather .search-places .fa-crosshairs {
	padding: 10px;
	border-radius: 50%;
	background: var(--main-field);
	cursor: pointer;
	transition: .3s;
}
.side-field .current-weather .search-places .fa-crosshairs:hover {
	transform: scale(1.1);
}
.side-field .current-weather .search-places label i {
	flex: 0 1 10%;
	margin-right: 5px;
} 
.side-field .current-weather .search-places label input { 
	outline: none;
	height: 40px;
	flex: 1 1 10%;
	line-height: 40px;
	padding: 0;
	font-size: 20px;
	border: none;
	background: transparent;
	color: var(--font-main);
}
.side-field .current-weather .search-places label input::placeholder { 
	font-size: 20px;
	color: var(--font-main);
}
.side-field .current-weather .search-places label .search-list {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 2;
	top: 10px;
	left: 0;
	padding: 0;
	max-height: 270px;
	overflow: auto;
	border-radius: 8px;
	width: 100%;
	color: #fff;
}
.side-field .current-weather .search-places label .search-list .search-list-item {
	list-style: none;
	margin: 4px;
	padding: 8px;
	cursor: pointer;
}


/* Weather icon */
.side-field .current-weather .weather-icon {
	grid-area: icon;
	text-align: center;
}


/* Temperature and Feels like temperature */
.side-field .current-weather .temp-container {
	grid-area: temp;
}
.side-field .current-weather .temp-container .temp {
	white-space: nowrap;
	font-size: 100px;
	font-weight: 300;
	text-align: center;
}
.side-field .current-weather .temp-container .temp span {
	font-size: 50px;
	vertical-align: super;
}
.side-field .current-weather .temp-container .temp-feels-like {
	font-size: smaller;
	text-align: center;
	color: var(--font-sec);
}
.side-field .current-weather .temp-container .temp-feels-like span { 
	vertical-align: top;
	font-size: 17px;
}


/* Break line */
.side-field .current-weather hr {
	width: 100%;
	height: 2px;
	grid-area: break;
	border-width: 0;
	background-color: var(--break-line);
}


/* Details about weather, such as "Chance of rain" */
.side-field .current-weather .detail {
	justify-self: start;
}
.side-field .current-weather .first-detail {
	grid-area: detail-1;
}
.side-field .current-weather .first-detail i {
	color: var(--cloud);
}
.side-field .current-weather .second-detail {
	grid-area: detail-2;
}
.side-field .current-weather .second-detail i {
	color: var(--umbrella);
}
.side-field .current-weather .third-detail {
	grid-area: detail-3;
}
.side-field .current-weather .third-detail i {
	color: var(--wind);
}


/* Block with place, date and time */
.side-field .current-weather .location {
	grid-area: location;
	width: 100%;
	height: 150px;
	background: var(--font-main);
	color: #fff;
	border-radius: 20px;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: end;
}
.side-field .current-weather .location .date {
	grid-area: date;
	font-size: small;
	text-align: center;
}
.side-field .current-weather .location .time {
	grid-area: time;
	font-size: 30px;
	font-size: smaller;

}


/* 
	*Main field base settings
*/
.main-field {
	flex: 20 1 300px;
	background: var(--main-field);
	padding: 50px 50px 50px 30px;
	display: flex;
	flex-direction: column;
}
.main-field header {
	display: flex;
}
.main-field header div {
	margin: 0 15px;
	padding-bottom: 5px;
	color: var(--font-sec);
	border-bottom: 1px solid transparent;
	cursor: pointer;
}
.main-field header div.active {
	color: var(--font-main);
	border-color: var(--font-main);
	font-weight: 500;
}
.main-field header div:not(.active):hover {
	transition: .3s;
	border-color: var(--font-sec);
}
.main-field header div:not(.active) i {
	display: none;
}
.main-field .card {
	background: #fff;
	border-radius: 20px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.main-field .today .card i {
	color: #fff;
	width: 45px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	margin-right: 10px;
}
.main-field .card h3 {
	width: 100%;
	margin: 0;
	font: bold 20px sans-serif;
	color: var(--font-sec);
}
.main-field .card h3 i {
	background: transparent !important;
	border-radius: 5px;
}
.main-field .today:not(.active),
.main-field .week:not(.active) {
	display: none;
}
.main-field .today,
.main-field .week,
.main-field .month {
	flex: 1 1 100%;
	margin-top: 40px;
	margin-left: 15px;
	overflow-y: auto;
}


/* 
	*Main field when "Today" selected
*/
.main-field .today {
	display: grid;
	gap: 15px;
	grid-template-rows: 180px 230px auto auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
								'week week week'
								'.    .    .   '
								'.		big  big '
	;
}


/* Week forecast preview */
.main-field .today .week-preview {
	grid-area: week;
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow-x: auto;
}
.main-field .today .week-preview .week-preview-card:first-child {
	margin-right: 10px;
}
.main-field .today .week-preview .week-preview-card + .week-preview-card {
	margin: 0 10px;
}
.main-field .today .week-preview .week-preview-card {
	flex: 0 1 100px;
	height: 150px;
	padding: 10px 35px;
	align-items: center;
}
.main-field .today .week-preview .week-preview-card img {
	width: 100%;
}


/* Precipitation card */
.main-field .today .precipitation i {
	background-color: #6a9cff;
}
.main-field .today .precipitation h3 i {
	color: #6a9cff;
}
.main-field .today .precipitation .volume {
	font-weight: bold;
}
.main-field .today .precipitation .container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.main-field .today .precipitation .container .detail {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.main-field .today .precipitation .container .detail div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.main-field .today .precipitation .container .detail span {
	font-size: 18px;
}
.main-field .today .precipitation .container .detail span:last-child {
	font-size: 15px;
	color: var(--font-sec);
}


/* Air quality index card */
[data-aqi="good"]{
	--aq-color: 66, 197, 146;
}
[data-aqi="fair"]{
	--aq-color: 66, 197, 146;
}
[data-aqi="moderate"]{
	--aq-color: 66, 197, 146;
}
[data-aqi="poor"]{
	--aq-color: 66, 197, 146;
}
[data-aqi="bad"]{
	--aq-color: 255, 0, 0;
}
.main-field .today .air-quality {
	grid-area: big;
}
.main-field .today .air-quality h3 {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.main-field .today .air-quality h3 i {
	color: rgb(var(--aq-color));
}
.main-field .today .air-quality:hover h3 i {
	animation: lungs 5s ease-in-out infinite;
}
.main-field .today .air-quality h3 span {
	flex-grow: 1;
	display: block;
	text-align: right;
}
.main-field .today .air-quality h3 span i {
	color: var(--font-sec);
	margin: 0;
}
.main-field .today .air-quality .summary {
	display: flex;
	align-items: center;
	width: 100%;
}
.main-field .today .air-quality .summary i {
	background: rgb(var(--aq-color));
}
.main-field .today .air-quality .summary div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}
.main-field .today .air-quality .summary h3 {
	color: rgb(var(--aq-color));
	font-size: 30px;
}
.main-field .today .air-quality .summary span {
	font-size: 15px;
	color: var(--font-sec);
}
.main-field .today .air-quality .summary button {
	font-size: 15px;
	color: #5b91fe;
	width: 20%;
	height: 45px;
	background: #5b91fe38;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s;
}
.main-field .today .air-quality .summary button:hover,
.main-field .today .air-quality .summary button:active {
	background: #5b91fe;
	color: #fff;
}
.main-field .today .air-quality .details {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.main-field .today .air-quality .details .detail {
	flex: 0 0 100px;
	background: rgba(var(--aq-color), 0.3);
	color: rgb(var(--aq-color));
	padding: 25px 10px;
}
.main-field .today .air-quality .details .detail div {
	width: 100%;
	text-align: center;
}
.main-field .today .air-quality .details .detail div span {
	vertical-align: baseline;
	font-size: 15px;
}


/* UV Index card */
.main-field .today .uv-index {

}
.main-field .today .uv-index h3 i {
	background: transparent;
	border-radius: 50%;
	color: #f0cb3c;
}
.main-field .today .uv-index:hover h3 i {
	animation: radiation 4s ease-in-out infinite;
}


/* Wind Status card */
.main-field .today .wind {

}
.main-field .today .wind  h3 i {
	color: #cac6c1;
	transition: .3s;
}
.main-field .today .wind:hover  h3 i {
	animation: fanRotation 1s linear infinite;
}
.main-field .today .wind .container {
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main-field .today .wind .container .speed {
	font-size: 20px;
	font-weight: bold;
}
.main-field .today .wind .container .speed span {
	font-size: 70px;
	font-weight: bold;
}
.main-field .today .wind .container .direction {
	position: relative;
}
.main-field .today .wind .container .direction .compass {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid var(--font-sec);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s;
}
.main-field .today .wind:hover .container .direction .compass {
	animation: compassShift 4s ease-in-out infinite;
}
.main-field .today .wind .container .direction .compass i {
	margin: 0;
	transform-origin: 50% 45%;
	transform: translate(0, 8%) rotate(45deg);
	color: #5b91fe;
}
.main-field .today .wind .container .direction .side {
	color: var(--font-sec);
	font-size: 20px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	text-transform: uppercase;
}


/* Sunrise and sunset card */
.main-field .today .sunrise {

}
.main-field .today .sunrise  h3 i {
	color: #0b0c17;
}


/* 
	*Main field when "Week" selected 
*/
.main-field .week {
	display: flex;
	flex-direction: column;
}
.main-field .week .week-day:not(:last-child) {
	margin-bottom: 20px;
}
.main-field .week .week-day {
	cursor: pointer;
}
.main-field .week .week-day img {
	width: 60px;
}


/* Header settings */
.main-field .week .week-day .header {
	width: 100%;
}
.main-field .week .week-day.open .header {
	margin-bottom: 20px;
	justify-content: space-between;
}
.main-field .week .week-day .header,
.main-field .week .week-day .header .date,
.main-field .week .week-day .header .forecast-preview {
	display: flex;
	align-items: center;
}


/* Date title */
.main-field .week .week-day .header .date {
	flex: 0 1 140px;
}
.main-field .week .week-day .header .date .day-of-the-month {
	font-size: 50px;
	font-weight: bold;
}
.main-field .week .week-day .header .date .description {
	font-size: 15px;
	color: var(--font-sec);
}


/* When card of a day is closed */
.main-field .week .week-day.open .header .forecast-preview {
	display: none;
}
.main-field .week .week-day .header .forecast-preview {
	flex: 1 1 100px;
	justify-content: space-between;
}

/* Temperature */
.main-field .week .week-day .header .forecast-preview .temperature {
	font-size: 40px;
	font-weight: 300;
}
.main-field .week .week-day .header .forecast-preview .temperature span {
	font-size: 20px;
	vertical-align: super;
}

/* Icon */
.main-field .week .week-day .header .forecast-preview .icon {
	flex: 0 1 60px;
}
.main-field .week .week-day .header .forecast-preview .icon img {
	
}

/* Humidity */
.main-field .week .week-day .header .forecast-preview .humidity {
	color: var(--umbrella);
}

/* Wind */
.main-field .week .week-day .header .forecast-preview .wind {
	color: var(--wind);
}
.main-field .week .week-day .header .forecast-preview .feels-like {
	
}

/* Open/close button */
.main-field .week .week-day .header .caret {
	flex: 0 0 10px;
	margin-left: 20px;
	transition: .3s;
}
.main-field .week .week-day.open .header .caret {
	transform: rotate(180deg);
}


/* When card of a day is open */
.main-field .week .week-day:not(.open) .detailed-forecast {
	display: none;
}
.main-field .week .week-day .detailed-forecast {
	width: 100%;
}
.main-field .week .week-day .detailed-forecast .time-of-day:not(:last-child) {
	margin-bottom: 35px;
}
.main-field .week .week-day .detailed-forecast .time-of-day {
	display: grid;
	gap: 20px;
	grid-template-rows: 30px 70px 70px;
	grid-template-areas: 
								'time time     time	  '
								'temp weather  humidity'
								'wind pressure uv		  '
	;
}
.main-field .week .week-day .detailed-forecast .time-of-day .title {
	grid-area: time;
	border-bottom: 2px solid var(--font-sec);
}
.main-field .week .week-day .detailed-forecast .time-of-day .detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}
.main-field .week .week-day .detailed-forecast .time-of-day .detail h3 {
	font-weight: 300;
	margin-top: 10px;
}
.main-field .week .week-day .detailed-forecast .time-of-day .temperature {
	grid-area: temp;
}
.main-field .week .week-day .detailed-forecast .time-of-day .temperature span {
	font-size: 20px;
	vertical-align: super;
}
.main-field .week .week-day .detailed-forecast .time-of-day .temperature .feels-like span {
	font-size: 10px;
}
.main-field .week .week-day .detailed-forecast .time-of-day .icon {
	grid-area: weather;
}
.main-field .week .week-day .detailed-forecast .time-of-day .humidity {
	grid-area: humidity;
}
.main-field .week .week-day .detailed-forecast .time-of-day .wind {
	grid-area: wind;
}
.main-field .week .week-day .detailed-forecast .time-of-day .atmosphere-pressure {
	grid-area: pressure;
}
.main-field .week .week-day .detailed-forecast .time-of-day .uv-index {
	grid-area: uv;
}


/* 
	*Main field when "Month" selected 
*/
.main-field .month:not(.active) {
	display: none;
}
.main-field .month {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


	position: relative;/* Delete after update */
}

@keyframes CS {
	0%{transform: scale(0);}
	100%{transform: scale(1);}
}
.main-field .month .CS {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-field .month .CS .overlay-cs {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background:	var(--main-field);
}
.main-field .month .CS h1 {
	color: #fff;
	font-size: 60px;
	z-index: 1;
	background: var(--umbrella);
	padding: 30px;
	border-radius: 20px;
	border: 5px solid #afd275;
}



/* For medium+ screen */
@media all and (max-width: 1500px){
	.main-field .today {
		grid-template-rows: 180px 230px 250px 330px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 
									'week week'
									'.    .   '
									'.    .   '
									'big  big '
		;
	}
}

/* For medium screen */
@media all and (max-width: 1165px){
	nav {
		top: 100px;
		right: 2%;
	}
	nav.open .menu-round .btn-app:nth-of-type(1) {
		right: 5.5em;
	}
	nav.open .menu-round .btn-app:nth-of-type(2) {
		right: 5.5em;
		top: -1.5em;
	}
	nav.open .menu-round .btn-app:nth-of-type(3) {
		right: 2.75em;

		right: 3.75em;
		top: 1.25em;
	}
	nav.open .menu-round .btn-app:nth-of-type(4),
	nav.open .menu-line .btn-app {
		right: .45em;
		top: 2em;
	}
	nav.open .menu-line .btn-app:nth-of-type(1) {
		top: 5.25em;
	}
	nav.open .menu-line .btn-app:nth-of-type(2) {
		top: 8.25em;
	}
	nav.open .menu-line .btn-app:nth-of-type(3) {
		top: 11.25em;
	}
	nav.open .menu-line .btn-app:nth-of-type(4) {
		top: 14.25em;
	}
	nav.open .menu-line .btn-app:nth-of-type(5) {
		top: 17.25em;
	}
	nav.open .menu-line .btn-app:nth-of-type(6) {
		top: 20.25em;
	}
	nav.open .menu-line .btn-app:nth-of-type(7) {
		top: 23.25em;
	}
	.app {
		width: 100%;
		height:auto;
		min-height: 100vh;
		border-radius: 0;	
		padding-top: 0px;
	}
	main {
		flex-direction: column;
	}
	.side-field,
	.main-field {
		padding: 30px 25px;
	}
	.side-field .current-weather {
		width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 70px
								  10px
								  160px
								  auto
								  ;
		grid-template-areas: 
			'search 	 location'
			'break    break'
			'temp icon'
			'detail-1 detail-1'
			'detail-2 detail-2'
			'detail-3 detail-3'
		;
	}
	.side-field .current-weather .search-places label input {
		width: 100%;
	}	/* !!!!! */
	.side-field .current-weather .search-places .fa-crosshairs,
	.side-field .current-weather .location {
		margin-right: 10%;
	}
	.side-field .current-weather .temp-container {
		justify-self: center;
	}
	.side-field .current-weather .weather-icon {
		justify-self: center;
		align-self: center;
	}
	.side-field .current-weather .weather-icon img {
		width: 154px;
	}
	.side-field .current-weather .detail {
		/* padding-left: 20px; */
	}
	.side-field .current-weather .location {
		width: 70%;
		height: auto;
	}

	.main-field {
		border-radius: 50px 50px 0 0;
	}

	.main-field .today {
		grid-template-columns: 1fr;
		grid-template-rows: 180px 230px 250px 200px;
		grid-template-areas: 
									'week '
									'.    '
									'.    '
									'.    '
									'.    '
									'big  '
		;
		margin-left: 0;
	}
	.main-field .today .air-quality .details {
		flex-wrap: wrap;
	}
	.main-field .today .air-quality .details .detail {
		flex-basis: 30%;
		margin: 15px 0;
	}
}

/* For mobile screen */
@media all and (max-width: 535px){
	.app {
		padding-top: 50px;
	}
	nav {
		top: 115px;
		right: 10px;
	}
	.side-field .current-weather {
		grid-template-columns: 1fr;
		grid-template-rows: 10px
								  10px
								  160px
								  auto
								  ;
		grid-template-areas: 
			'search '
			'break  '
			'icon'
			'temp '
			'detail-1'
			'detail-2'
			'detail-3'
			'location'
		;
		position: relative;
	}
	.side-field .current-weather .search-places .fa-crosshairs {
		margin-right: 0;
		order: 1;
	}
	.side-field .current-weather .search-places label {
		order: 2;
	}
	.side-field .current-weather .search-places label i {
		display: none;
	}


	.side-field .current-weather .location {
		margin: 15px 0;
		padding: 10px 0;
		width: 100%;
	}
}